

.homeDiv {
  height: auto;
  width: 100%;
  background-color: #c892a1;
}

.changeB{
  background-color: #94BFA7;
}

.changeC{
  background-color: #30323D;
  ;
}

.changeD{
  background-color: #F3FFC6;
}
