.LandingDiv {
  height: 100vh;
  width: 100%;
  text-align: left;
  padding: auto auto;
  text-align: center;
  padding-top: 0%;
  display: flex;
  flex-direction: column;
}

.scroll {
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.scroll div {
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 24s linear infinite;
  animation-delay: -24;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll div:nth-child(2) {
  animation: animate2 24s linear infinite;
  animation-delay: -12s;
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.SaludoDiv {
  margin-top: 15vh;
}

.BottomDiv {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.Saludo {
  /* background-color: rgb(255,255 ,255, 6); */
  max-width: auto;
  margin-left: auto;
  margin-right: 120px;
  padding: 25px 25px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 50px;
}

.Title {
  color: #fff;
  font-weight: bolder;
  font-size: 25vh;
  font-family: "Bebas Neue", cursive;
  line-height: 0.5;
}

.TitleIntro {
  color: #593d3b;
  font-size: 5vh;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800px;
  font-style: italic;
}

.fullstack {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-size: 8vh;
  border-radius: 10px;
  margin-top: 30px;
  display: inline-block;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.fullstack2 {
  -webkit-text-stroke: 2px #d56b8f;
}

.fullstack3 {
  -webkit-text-stroke: 2px #d56b8f;
  color: transparent;
  font-size: 8vh;
  font-family: "Kdam Thmor Pro", sans-serif;
  margin-top: 30px;
  display: inline-block;
}
.fullstack4 {
  -webkit-text-stroke: 2px #fff;
}

@media (max-width: 1060px) {
  .Title {
    font-size: 13vw;
    line-height: 0.5;
  }
  .TitleIntro {
    font-size: calc(18px + 0.5vw);
  }
  .Saludo {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;
    text-align: center;
    height: 40vh;
  }
  .BottomDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
  }
}

