.nav{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    margin-bottom: 0;
    justify-content: flex-start;
    position: fixed;
}
.navItem{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 11.5vh;
    margin: 0px 10px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 10px;
    line-height: 80px;
}

a{
    text-decoration: none;
}

.navItem:hover{
    text-decoration: line-through;
    text-decoration-color: #fff;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.active{
    color: #fff;
}

@media (max-width: 1060px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    .navItem{
        font-size: calc(30px + 0.5vw);
        /* writing-mode: vertical-lr;
        transform: rotate(180deg); */
    }
}