.ProjectsDiv {
  background-color: transparent;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.projectTitle {
  font-family: "Bebas Neue", cursive;
  font-size: 5vh;
}

.projectDes {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 2vh;
  text-align: justify;
  padding: 10px;
}

.projectDiv1 {
  background-color: rgb(255, 255, 255, 0.2);
  width: 70%;
  border-radius: 10px;
  padding: 15px 15px;
  margin-right: 20px;
  margin-top: 7vh;
  margin-bottom: 2vh;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.projectDiv2 {
  background-color: rgb(255, 255, 255, 0.2);
  width: 70%;
  border-radius: 10px;
  padding: 15px 15px;
  margin-right: 20px;
  margin-top: 7vh;
  margin-bottom: 2vh;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.projectInfo{
  width: 50%;
}

.container {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 100%;
}

@media (max-width: 1060px) {
  .ProjectsDiv {
    padding: 0px 5px;
  }
  .projectDiv1 {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    padding: 5px 5px;
  }
  .projectDiv2 {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 45vh;
    padding: 5px 5px;
  }
  .projectInfo{
    width: 75%;
  }
  .container {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
}